<p></p>

<div class="container">
    <div class="card">
        <div class="card-header">
            <!-- <button class="btn btn-primary" (click)="openCreate(add)">Add</button> -->
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>email</th>
                        <th>Phone</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let person of persons">
                        <td> {{person.firstName}} </td>
                        <td> {{person.lastName}} </td>
                        <td> {{person.email}} </td>
                        <td> {{person.phone}} </td>
                        <td>
                            <!-- <button class="btn btn-info" (click)="openEdit(edit, person.id)">edit</button> -->
                            <!-- <button class="btn btn-danger" (click)="deletePerson(person.id)">delete</button> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
